@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&family=REM:wght@500;700&display=swap');

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-rem: 'REM', ui-sans-serif, system-ui, sans-serif;
    --font-poppins: 'Poppins', ui-sans-serif, system-ui, sans-serif;
    /* Cores Main */
    --color-main-dark: #1F1F1F;
    --color-main-light: #F1E8FA;
    --color-main-paper: #F6F4F1;

    /* Cores Purple */
    --color-purple-lightest: #F0E6FA;
    --color-purple-light: #BEA2E0;
    --color-purple: #A084C3;
    --color-purple-dim: #7B6AA7;
    --color-purple-muted: #7C6A90;
    --color-purple-dark: #6C4A8F;
    --color-purple-deep: #553574;
    --color-purple-night: #3E2F4D;
    --color-purple-twilight: #4C3D5F;

    /* Cores Secondary */
    --color-secondary-green: #9FA089;
    --color-secondary-blue: #6BC5D2;
    --color-secondary-red: #D77979;

    /* Cores Pop-ups (SweetAlert) */
    --color-swal-confirm: var(--color-purple);
    --color-swal-cancel: var(--color-purple-muted);
    --color-swal-delete: var(--color-secondary-red);
}

@layer utilities {
    .font-rem {
        font-family: var(--font-rem);
    }

    .font-poppins {
        font-family: var(--font-poppins);
    }

    /* Cores centralizadas por tipo de sessão/tema */
    .tema-teoria {
        @apply bg-purple-light text-purple-night;
    }

    .tema-exercicio {
        @apply bg-secondary-blue text-main-dark;
    }

    .tema-revisao {
        @apply bg-secondary-red text-main-dark;
    }
    .tema-default {
        @apply bg-purple-light text-main-dark;
    }
}