@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&family=REM:wght@500;700&display=swap');

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-rem: 'REM', ui-sans-serif, system-ui, sans-serif;
    --font-poppins: 'Poppins', ui-sans-serif, system-ui, sans-serif;
}

@layer utilities {
    .font-rem {
        font-family: var(--font-rem);
    }

    .font-poppins {
        font-family: var(--font-poppins);
    }
}
